:root {
  --header-height: 60px;
  --footer-height: 60px;
  /* Light Mode */
  --primary-background-color: 	hsl(26, 100%, 92%);
  --secondary-background-color: 	hsl(24, 43%, 76%);
  --tertiary-background-color: 	hsl(24, 43%, 90%);
  --text-color: hsl(0, 0%, 20%);
}

/* Dark Mode */
.dark {
  --primary-background-color: hsl(0, 0%, 0%);
  --secondary-background-color: 	hsl(221, 51%, 16%);
  --tertiary-background-color: 		hsl(201, 100%, 14%);
  --text-color: hsl(0, 0%, 80%);
}

* {
  box-sizing: border-box;
  font-family: Arial, 'Noto Sans TC', Helvetica, sans-serif;
}

body {
  margin: 0;
  color: var(--text-color);
}

header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--secondary-background-color);
  display: flex;
  position: fixed;
  z-index: 1;
}

#nav-left {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}

#home {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#home img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#nav-right {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

#dark-mode,
#profile {
  width: 50px;
  height: 50px;
  font-size: 35px;
  margin-right: 10px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main {
  min-height: 100vh;
  background-color: var(--primary-background-color);
}

footer {
  height: var(--footer-height);
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}