:root {
  --header-height: 60px;
  --footer-height: 60px;
  /* Light Mode */
  --primary-background-color: 	hsl(26, 100%, 92%);
  --secondary-background-color: 	hsl(24, 43%, 76%);
  --tertiary-background-color: 	hsl(24, 43%, 90%);
  --border-color: hsl(0, 0%, 50%);
  --text-color: hsl(0, 0%, 20%);
}

/* Dark Mode */
.dark {
  --primary-background-color: hsl(0, 0%, 0%);
  --secondary-background-color: 	hsl(221, 51%, 16%);
  --tertiary-background-color: 		hsl(201, 100%, 14%);
  --border-color: hsl(0, 0%, 50%);
  --text-color: hsl(0, 0%, 80%);
}

* {
  box-sizing: border-box;
  font-family: Arial, 'Noto Sans TC', Helvetica, sans-serif;
}

body {
  margin: 0;
  color: var(--text-color);
}

header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--secondary-background-color);
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

#nav-left {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
}

#home {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

#home img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#nav-right {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

#dark-mode,
#profile {
  width: 50px;
  height: 50px;
  font-size: 35px;
  margin-right: 10px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#sign {
  margin-right: 10px;
  font-size: 20px;
  display: flex;
}

#sign-in {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in:hover {
  cursor: pointer;
  text-decoration: underline;
}

#sign-up {
  padding: 5px;
  background-color: var(--tertiary-background-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#sign-up:hover {
  cursor: pointer;
  filter: brightness(90%);
}

main {
  min-height: 100vh;
  background-color: var(--primary-background-color);
}

footer {
  height: var(--footer-height);
  color: var(--text-color);
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-bg {
  height: 100vh;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#modal {
  width: 380px;
  height: 400px;
  background-color: var(--secondary-background-color);
  border: 3px solid var(--border-color);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal tr {
  height: 55px;
}

#modal tr td:nth-child(1) {
  text-align: center;
}

#modal-name {
  margin: 0;
}

#submit {
  width: 100%;
}