:root {
  --article-height: 200px;
  --container-width: 700px;
}

#container {
  width: var(--container-width);
  padding: calc(var(--header-height) + 20px) 20px 20px 20px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  /* CONTENT BOX */
  box-sizing: content-box;
}

#article {
  height: var(--article-height);
  border: 1px solid gray;
  display: flex;
}

#main {
  height: 100%;
  width: calc(var(--container-width) - var(--article-height));
  padding: 10px;
  background-color: var(--tertiary-background-color);
  border-right: 1px solid gray;
}

#info {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

#avatar {
  width: 30px;
  height: 30px;
}

#avatar img {
  width: 30px;
  object-fit: cover;
  border-radius: 15px;
}

#username {
  font-size: 18px;
  margin-left: 5px;
}

#title {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
}

#title:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #0077b6;
}

#preview {
  font-size: 20px;
  word-wrap: break-word;
}

#picture {
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}

#picture:hover {
  cursor: pointer;
}

#picture img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 0.5s, filter 0.5s;
}

#picture:hover img {
  transform: scale(1.1);
  filter: brightness(80%);
}